* {
    padding: 0px;
    margin: 0px;
}

.st-emotion-cache-1avcm0n.ezrtsby2 {
    visibility: hidden;
}

.st-emotion-cache-1dp5vir.ezrtsby1 {
    visibility: visible ;
    height: 2.3px;
    background-image: linear-gradient(90deg, rgb(0, 204, 255), rgb(98, 0, 255), rgba(0, 255, 179, 0.856));
    z-index: 999990;

}
.st-emotion-cache-6q9sum.ef3psqc4 {
    visibility: visible ;

}

.viewerBadge_container__r5tak.styles_viewerBadge__CvC9N {
    visibility: hidden;
}

.viewerBadge_link__qRIco {
    visibility: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/*
svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    @media (max-width: 600px) {
        transform: translateY(1px);
    }
}

svg text {
    transform: translateY(2.5vw); /* Adjust translateY for default screens
    animation: stroke 5s infinite alternate;
    stroke-width: 0.2vw; /* Adjust stroke-width for default screens
    stroke: rgba(0, 255, 179, 0.856);
    font-size: 4.9vw; /* Default font size for larger screens */

    /* Media Query for smaller screens (e.g., phones)
    @media (max-width: 600px) {
        margin-bottom: 0px;
        transform: translateY(2vw); /* Adjust translateY for smaller screens
        font-size: 8.8vw; /* Adjust font size for smaller screens
        stroke-width: 0.4vw; /* Adjust stroke-width for smaller screens
    }

    /* Additional: Set a max-width for extremely large screens
    @media (min-width: 1200px) {
        max-width: 1200px; /* Adjust the value as needed
    }
}



@keyframes stroke {
    0% {
        fill: rgb(255, 255, 255);
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 0.5;
    }
    50% {
        fill: rgba(0, 255, 255, 0.856);
        stroke: rgb(255, 255, 255);
        stroke-width: 0.5;
    }
    80% {
        fill: rgb(47, 51, 247);
        stroke: rgb(255, 255, 255);
        stroke-width: 0.5;
    }
    100% {
        fill: linear-gradient(to right, rgb(47, 51, 247), rgb(255, 255, 255));
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0.5;
    }
}

