.st-emotion-cache-1avcm0n.ezrtsby2 {
    visibility: hidden;
}

.st-emotion-cache-1dp5vir.ezrtsby1 {
    visibility: visible ;
    background-image: linear-gradient(90deg, rgb(0, 204, 255), rgb(98, 0, 255), rgba(0, 255, 179, 0.856));
    z-index: 999990;

}
.st-emotion-cache-6q9sum.ef3psqc4 {
    visibility: visible ;

}